@charset "UTF-8";
/* 전체 */
header {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
}
header .logo {
  margin-top: 10px;
  float: left;
  height: 55px;
}
header .logo a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
header .logo a h1 {
  font-size: 50px;
  position: relative;
}
header .login {
  margin-top: 13px;
  float: right;
}
header .login .button {
  --background: #78C1F3;
  --text: #fff;
  --font-size: 16px;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  padding: 16px 32px;
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
}
header .login .button div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}
header .login .button div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}
header .login .button div span:nth-child(1) {
  transition-delay: 0.05s;
}
header .login .button div span:nth-child(2) {
  transition-delay: 0.1s;
}
header .login .button div span:nth-child(3) {
  transition-delay: 0.15s;
}
header .login .button div span:nth-child(4) {
  transition-delay: 0.2s;
}
header .login .button div span:nth-child(5) {
  transition-delay: 0.25s;
}
header .login .button div span:nth-child(6) {
  transition-delay: 0.3s;
}
header .login .button div span:nth-child(7) {
  transition-delay: 0.35s;
}
header .login .button div span:nth-child(8) {
  transition-delay: 0.4s;
}
header .login .button div span:nth-child(9) {
  transition-delay: 0.45s;
}
header .login .button div span:nth-child(10) {
  transition-delay: 0.5s;
}
header .login .button div span:nth-child(11) {
  transition-delay: 0.55s;
}
header .login .button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
}
header .login .button:hover span {
  --m: calc(var(--font-size) * -1);
}
header .login .button.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
header .login .button.reverse:hover span {
  --m: calc(var(--font-size));
}
header .headerMenuList .headerGnb {
  min-width: 1100px;
}
header .headerMenuList .headerGnb .gnbInner {
  margin: 0 auto;
  position: relative;
  width: 900px;
}
header .headerMenuList .headerGnb .gnbInner .gnbWrap {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-items: center;
  text-align: center;
  top: 10%;
}
header .headerMenuList .headerGnb .gnbInner .gnbWrap li {
  flex-grow: 1;
  width: 10%;
  padding: 20px 0;
}
header .headerMenuList .headerGnb .gnbInner .gnbWrap li a {
  display: block;
  height: 40px;
  font-size: 18px;
  color: #4c4c4c;
  line-height: 40px;
  white-space: nowrap;
  text-decoration: none;
}
header .headerMenuList .headerLnb {
  position: absolute;
  height: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
header .headerMenuList:hover .headerLnb {
  height: 300px;
  background: rgba(90, 90, 90, 0.8);
  transition: all 0.2s;
}
header .headerMenuList:not(:hover) .headerLnb {
  height: 0;
  transition: all 0.2s;
}
header .headerMenuList .innerLnb {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
header .headerMenuList .innerLnb ul {
  flex-grow: 1;
  width: 25%;
}
header .headerMenuList .innerLnb ul li {
  padding: 8px 0;
}
header .headerMenuList .innerLnb ul li a {
  display: block;
  padding-right: 50px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-decoration: none;
}
header .headerMenuList .innerLnb ul li a:hover {
  transition: all 0.2s;
  color: #78C1F3;
}
header .headerMenuList .innerLnb ul li a:not(:hover) {
  transition: all 0.2s;
}

.scroll-bag {
  background-color: hsla(0, 0%, 100%, 0.85);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-bottom: 1px solid transparent;
  border-bottom-color: #e5e8eb;
  transition: 1.5s;
}

.scrolled-bag {
  background-color: white;
  transition: 1.5s;
}/*# sourceMappingURL=index.css.map */