
    .grid-container{
        display: grid;
        width: 70%;
        margin: 0 auto;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        .product{
            
            width: 400px;
            height: 200px;
            border-radius: 15px;
            border: 1px solid black;
            img{
                float: left;
                border-radius: 15px;
                width: 200px;
            }
        }
    }