
/* 전체 */

*{
  margin: 0 auto;
  padding: 0;
  font-family: 'GmarketSansMedium';
}

#wrap{
  width: 1920px;
  margin: 0 auto;
}

#mainContentWrapper{
  width: 100%;
  margin: 0 auto;
}

h2,h3,h4,h5{
  position: relative;
  top: 45%;
  font-size: 50px;
}



ul{
  list-style: none;
}


.contentBox{
  width: 95%;
  margin: 0 auto;

}

.mainSec{
  width: 1600px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

