
/* 전체 */

*{
  margin: 0 ;
  padding: 0;
  font-family: 'GmarketSansMedium';
}
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
#body-wrapper {
  min-height: 100%;
  position: relative;
}

#wrap{
  width: 192vh;
  min-height: 100%;
  margin: 0 auto;
}

#mainContentWrapper{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

h2,h3,h4,h5{
  position: relative;
  top: 45%;
  font-size: 50px;
}

a{
  text-decoration: none;
  color: black;
}


ul{
  list-style: none;
}


.contentBox{
  width: 95%;
  margin: 0 auto;

}

.mainSec{
  width: 160vh;
  height: 23vh;
  margin: 0 auto;
  justify-items: center;
  text-align: center;
}

.Footer{
  text-align: center;
  
}