footer{
    height: 200px;
    position : relative;
    
    width: 100%;
    background-color: white;
    border-top: 1px solid transparent;
    border-top-color: #e5e8eb;
    .contentBox{
        display: grid;
        grid-row: 2;
    }
    p{
        position: relative;
        color: rgba(0, 0, 0, 0.359);
        font-size: 14px;
        
    }
    .comp{
        font-size: 20px;
    }
    .comp-info{
        bottom: 0px;
    }
}
