*{
    margin: 0;
    padding: 0;
    // border: 1px solid black;
    #mainContentWrapper{
        width: 100%;
        margin: 0;
        padding: 0;
        
        .mainBanner{
            overflow: hidden;
            width: 1600px;
            margin: 0 auto;
            
        }
        .mainSec{
            width: 1600px;
            height: 200px;
            margin: 0 auto;
            text-align: center;
            
            h2{
                position: relative;
                top: 45%;
                
            }
        }
        .contentBox{  
            width: 1600px;
            margin: 0 auto;
            
            
            .innerDepth{
                display: grid;
                width: 1000px;
                margin: 0 auto;
                
                grid-template-rows: repeat(2,200px);
                grid-template-columns: repeat(5,1fr);
                justify-items: center;
                
                button{
                    position: relative;
                    width: 150px;
                    height: 150px;
                    top: 12%;
                    white-space: pre-line;
                    box-shadow: 4px 4px 4px 2px lightgray;
                    background-color: whitesmoke;
                    border-radius: 15px;
                    border-style: none;
                    
                    &:hover{
                        font-size: 110%;
                    }
                }
                
            }
            a{
                margin-left: 1220px;
                
            }
        }
        .innercard{
            display: flex;
            flex-direction: column;
            height: 300px;
            border-radius:15px ;
            background-color: lightgrey;
            img{
                width: 100%;
                height: 50%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

        }

    }
}